@model BusinessAnalytic.Models.Entities.ProductVendor

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card bg-light section Form">
    <div class="card-header">
        <h1>Product Vendor Edit</h1>
    </div>

    <div class="p-lg-5">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ProductId" />
                    <input type="hidden" asp-for="BusinessEntityId" />
                    <div class="form-group">
                        <label asp-for="AverageLeadTime" class="control-label"></label>
                        <input asp-for="AverageLeadTime" class="form-control" />
                        <span asp-validation-for="AverageLeadTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StandardPrice" class="control-label"></label>
                        <input asp-for="StandardPrice" class="form-control" />
                        <span asp-validation-for="StandardPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastReceiptCost" class="control-label"></label>
                        <input asp-for="LastReceiptCost" class="form-control" />
                        <span asp-validation-for="LastReceiptCost" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastReceiptDate" class="control-label"></label>
                        <input asp-for="LastReceiptDate" class="form-control" />
                        <span asp-validation-for="LastReceiptDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MinOrderQty" class="control-label"></label>
                        <input asp-for="MinOrderQty" class="form-control" />
                        <span asp-validation-for="MinOrderQty" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaxOrderQty" class="control-label"></label>
                        <input asp-for="MaxOrderQty" class="form-control" />
                        <span asp-validation-for="MaxOrderQty" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OnOrderQty" class="control-label"></label>
                        <input asp-for="OnOrderQty" class="form-control" />
                        <span asp-validation-for="OnOrderQty" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UnitMeasureCode" class="control-label"></label>
                        <select asp-for="UnitMeasureCode" class="form-control" asp-items="ViewBag.UnitMeasureCode"></select>
                        <span asp-validation-for="UnitMeasureCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ModifiedDate" class="control-label"></label>
                        <input asp-for="ModifiedDate" class="form-control" />
                        <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group text-white">
                        <a class="btn btn-primary text-white" style="float: left; width: 300px;" asp-action="Index">Back to List</a>
                        <input style="float:right;width:300px;" type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
